.reel-video{
    justify-content: center;
    width: 52%;
    align-items: center;
    background-color: black;
    border-radius: 2%;
}
.videoCard{
    max-width: 60%;
    height: 90vh;
}
.container-deux{
    height: 100vh;

}
.container-un{
    height: 100%;

}
.position-bottom {
   
  }
  