.post{
    position: relative;
    overflow:hidden
}
.post img{
    display: block;
    width: 100%;
    height: 100%;
}
.post:hover .overlay{
    opacity: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0 green,0.5 blue);
    opacity: 0;
    transform: opacity .2s ease-in-out;
}
.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: medium;
    text-align: center;
    width: 30%;
}