.messagesend{
  background-color: rgb(47, 126, 244);
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
}
.test{
    background-color: white;
}
.messagerecived {
    background-color: rgb(186, 185, 185);
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
}